[2016-08-26 07:44] faizanahemad opened #1 "Support for Form Validation like Angular2 Forms"
Need unsuported directives like `pattern` for form validation, also support for custom validation function would be great addition.

[2016-08-26 10:19] Caballerog commented on #1
I have started to migrate the package to angularRC5 and forms 0.3.0. The first feature that I will integrate in the new version will be the `pattern` in the `input text`.

[2016-08-27 03:02] Caballerog commented on #1
I've upgrade ng2-inline-edit with this features: `pattern `and `fnErrorPattern` (933883d0369c01050a2064022f1e6491c8ca3797). You can read the example of the documentation.

[2016-08-27 03:02] #1 closed

[2016-08-28 17:38] igncp opened #2 "Demos in GitHub Pages"
Hi,

I am practicing a little bit with Angular2 at the moment, saw your project today and it looks interesting. However, it would be nice to have the two demos (or if you add more in the future) in GitHub pages so it would be faster to try. The site would be http://caballerog.github.io/ng2-inline-editor, and it only requires a `gh-pages` branch in the current repo with the static files. Would you

[2016-08-28 17:55] igncp commented on #2
Just saw more closely to the gif of the `Readme.md` and it seems you are using Windows. Unfortunately I am not familiar with Windows PowerShell so an alternative would be a bash script file that could be run from time to time, instead of a githook which runs always. But I understand that it would probably not be very convenient.

[2016-08-28 21:55] Caballerog commented on #2
Hi @igncp,

Of course, that sounds great! I never have use gh-pages :-)

Perfect for me.

I love *NIX system, for years that I do not have Windows on my computer.

Ok.

I use angular-cli to run the demos. We can generate a build version of the demos which don't require any server: `ng build --prod`

Cheers!

[2016-08-28 22:40] igncp commented on #2
Cool! I'll create the PR in a few days

[2016-08-31 23:21] #2 closed

[2016-09-12 17:28] AlexKhymenko opened #6 "Implementing forms"
Hi im new to angular2 are you planing of implementing x-editable forms.If not can you give me some hints what is the best way to do it in angular2

[2016-09-13 17:44] twmiller opened #7 "HTML in textarea?"
HTML tags rendered inside of a text area when it's in the non-edit mode?

For instance, if my textarea is`<p>Chunk of text.</p>` it's rendering as `<p>Chunk of text.</p>` in both display mode and edit mode, instead of formatting based on the tags.

[2016-09-13 18:57] twmiller commented on #7
My temporary solution for this was to change:

`<a>{{ value }}</a>`

to

`<a [innerHTML]="value"></a>` in the template section of the inline-editor-component js file.

[2016-09-13 18:57] Caballerog commented on #6
Yes, I've in mind implement x-editable forms but I'm not know when I could do it. Although probably I must create a new component to do this.

You could start reading about custom forms controls in angular2:  http://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html

[2016-09-13 19:00] Caballerog commented on #7
Yes, It could be an option in the configuration of the component. If you want you can send the PR with the improve. Thanks!

[2016-09-19 09:37] OleksiiZubko opened #8 "Angular 2.0"
Hi, Thanks for the library. Can we use angular 2.0 to develop this lib?

Best,

[2016-09-19 16:40] OleksiiZubko commented on #8
Perfect, thanks!

[2016-09-20 18:57] Caballerog commented on #8
I just to updated to Angular 2.0.0 (The lib worked perfectly before this commit ee125128e64efc29bf1554107e1f2debe6c26083)

[2016-09-20 18:57] #8 closed

[2016-09-20 20:35] Caballerog commented on #7
I've been thinking about HTML in textarea and I believe that could be a good idea add ck-editor how a new element.

[2016-09-20 21:39] peloncano opened #9 "Support 'empty' for select inputs"
I am trying to display a inline-editor of type `select` to edit entities with missing values. I need the dropdown to display even when the value of the bound `ngModel` does not exist within the `options` data collection. This seems to work well for type `text` where it displays the link of `empty` if it is empty. Similar functionality should be added to `select`. As of now you can't edit select fi

[2016-09-21 07:09] Caballerog commented on #9
This is a good idea. This feature will be implement soon.

[2016-09-21 13:26] peloncano commented on #9
@Caballerog - thanks - looking forward to it.

[2016-09-21 13:28] bmudda commented on #9
+1 I think this an important feature for dropdowns that are not just boolean fields

[2016-09-21 16:13] Caballerog commented on #9
Hi @peloncano, @bmudda  I've been developing this feature, but I've any questions:

1. Do you want to send this options object?
[code]
Where some elements are not "value" field.
2. So, when you select i.e status2 you're not relation this text with any value, it's ok?

[2016-09-21 16:53] peloncano commented on #9
Hey @Caballerog,
Thanks for looking into this. What I was referring to is having the inline-editor display an `empty` string (string should be editable) if the `ngModel` value assign is not found within any of the HTML select options' values.

I was looking at the code an in `ng2-inline-editor/src/inline-editor.component.ts` line 47 you have a call to a method called `optionSelected()`

[code]

I'

[2016-09-21 17:02] bmudda commented on #9
@Caballerog
I agree with @peloncano suggestion. And per @peloncano comment

I personally think the option data should always have `value`/`text` pair (`id`/`field` based on your sample above). Except when a user wants to clear the selection completely and send back an empty value to the save() method. The empty option could be implemented as @peloncano suggested above.

[2016-09-21 19:34] Caballerog commented on #9
@peloncano  @bmudda I just updated the module to ng2-inline-editor.alpha-6 (933904e). I hope that it be useful for you!

[2016-09-21 19:35] #9 closed

[2016-09-21 20:02] peloncano commented on #9
@Caballerog thanks for this. Seems to be working. The only issue I noticed is that you committed a lot of console.logs which is spitting a lot of logs into the developer tools.

[2016-09-21 20:17] Caballerog commented on #9
@peloncano Oh.. I thinked that I had removed the console.log (One moment and I fix it! :-))

[2016-09-22 00:47] bmudda commented on #9
@Caballerog thanks for the fix and update. This is a really great module.

[2016-09-22 01:46] peloncano commented on #9
@Caballerog thanks for removing the console.logs! Hoping to see the `In Progress` features completed in the near future! 👍

[2016-10-15 07:30] tomsun opened #11 "Support for a placeholder text which is not the default text when editing"
When a field is empty you might want to draw attention to it by adding a descriptive placeholder text, which when clicked should open the inline editor.

If I use the `empty` attribute for this purpose, the placeholder text is also the default value, which is undesired sometimes. Any suggestions?

https://github.com/Caballerog/ng2-inline-editor#empty-components

## Example

[code]

![ng2-inline-ed

[2016-10-15 11:42] Caballerog commented on #11
That's a great idea, give me a few days to develop this feature.

;-)

[2016-10-15 13:21] Caballerog commented on #11
I just to updated to 0.1.1-alpha.8, which I've develop this feature. So, you can try it!

[2016-10-15 14:45] tomsun commented on #11
Awesome! thank you! :-)

---

I'm a bit confused by the terminology though:

Did you originally intend `empty` to mean `default display value` or `default edit value` or both?

- `empty` had both meanings in `0.1.1.-alpha.7` (example above).
- in `0.1.1.-alpha.8`, `empty` seems to be `default display value` only (example below).

Is it still possible to provide a `default edit value` somehow? I do

[2016-10-15 15:29] bmudda opened #12 "Question about editable date"
@Caballerog When is the approximate date for the editable date feature to be implemented?

[2016-10-16 10:05] Caballerog commented on #12
Hi @bmudda I've been thinking about this. I hope to do in two weeks more or less. I yet am not sure if I should use ng2-bootstrap o bootstrap.js to show the datepicker.

[2016-10-16 10:09] Caballerog commented on #11
Hi @tomsun,

That's true, I've changed the mean of empty and placeholder in this version like you said.

About your question, you can set the default edit value from TS, for example:

my-component.html
[code]

my-component.ts
[code]

Is this your question?

Thanks for your comments :-)

[2016-10-16 11:37] tomsun commented on #11
Good :-)

(Can be difficult to distingusih between user intent vs default, if you have to assign the default to the model upfront in that scenario. Perhaps you can get around it by relying on whether onSave has fired or not)

[2016-10-17 09:06] Caballerog commented on #11
@tomsun That's a good idea too. I must to refactoring and include testing in the module because it's more large each day. I going to thinking about your comment.

[2016-10-19 04:41] nottinhill opened #13 "ng2 final"
Does your Code work with ng2 final? You write RC5 and later, but as the whole community is more than aware right now, final did break every conceivable dependency on RC5. Any plans to update your code to ng2-2.0.0,  2.1.0-rc1 or even 2.1.0 ?

[2016-10-19 07:05] Caballerog commented on #13
Yes, this code work with Angular 2.0.0 and I think that could work with 2.1.0 (I've been reading the changes and any new feature break the behaviour of this module).

In this moment, I'm using the module in a ng2-final project. My plan is included new components and features in the next weeks and update to the last angular2 version in each iteration.

[2016-10-19 07:05] #13 closed

[2016-10-19 07:46] #11 closed

[2016-10-23 13:51] igncp opened #14 "The basic demo fails to compile"
Hi,

I did a clean `npm i` in the basic demo, then a `npm start`, which uses `ng serve` and it is throwing some errors, complaining about the format of the config file `angular-cli.json`. I tried with a similar configuration as the other demo, but it still fails. I am using node 6.3.0, and the other dependencies should come from the `package.json`. Can you build it with a clean `npm i`?

Thanks!

[2016-10-24 10:13] Ellipizle opened #16 "typings: not found"
This module keeps on failing on my build system with the following errors
`10:08:24.279 npm ERR! Failed at the ng2-inline-editor@0.1.1-alpha.8 postinstall script 'typings install'.`

[2016-10-24 18:28] ManojkumarMuralidharan opened #17 "Docs not updated with Angular 2.0 ?"
<inline-editor type="text" [(ngModel)]="editableText"></inline-editor>

this gives us

Error: Template parse errors:
Can't bind to 'ngModel' since it isn't a known property of 'inline-editor'.
1. If 'inline-editor' is an Angular component and it has 'ngModel' input, then verify that it is part of this module.
2. If 'inline-editor' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgMod

[2016-10-24 18:34] ManojkumarMuralidharan commented on #17
My bad, I think i forgot to add the Forms Module. I was able to get it working once I added it as suggested by[ Gabriele Ciech
](http://stackoverflow.com/questions/38892771/cant-bind-to-ngmodel-since-it-isnt-a-known-property-of-input)

[2016-10-24 18:34] #17 closed

[2016-10-24 19:04] BartNetJS commented on #16
+1

[2016-10-24 19:07] Caballerog commented on #14
Thanks @igncp  for the PR, I just to test the new version which works perfectly.

[2016-10-24 19:08] #14 closed

[2016-10-24 19:13] Caballerog commented on #16
@Ellipizle  you willl need to install typings as global first.

`npm install typings -g`

It should probably be documented or automatically installed when you first run npm install, any ideas?

[2016-10-24 19:16] Caballerog commented on #17
Thanks @ManojkumarMuralidharan for your comment :-)

[2016-10-25 15:10] igncp commented on #16
I think the issue could be in that the `typings` package is currently a `devDependency` and not a `dependency`, so it is not installed when a user includes `ng2-inline-editor` as a dependency. I would guess that if it is moved to `dependencies`, when running `typings install`, first it would look in `./node_modules/.bin/typings` (relative to the `ng2-inline-editor` dir). However to try it a versio

[2016-10-31 20:48] Caballerog opened #19 "Testing"
I should to do test using Jasmine to test the logic!

[2016-11-09 07:40] leetal opened #20 "Possibility to clear field from code?"
So, it seems that somehow the values get saved in the editable field, and this messes up the model if i'm for example changing the model from a component.

See GIF for example:
![error](https://cloud.githubusercontent.com/assets/1221839/20130543/bf4d1872-a657-11e6-8ec9-e9781e8c6f5e.gif)

In the GIF, whenever i press the green button, the model gets nulled out to default values.

Is this an unfortu

[2016-11-09 21:10] Caballerog commented on #20
Hi @leetal,

Would you to do a little plunkr? Or there's any method that I could see your code?

It could be a bug, I'm not sure because I should to do specs in the future.

[2016-11-10 09:19] leetal commented on #20
I'll write a simple plunkr later today/evening to demonstrate the issue 👍

[2016-11-10 09:53] Caballerog commented on #20
Hi @leetal,

Thanks very much. I'll fix the bug when I detect it because I've never had this use case ;-)

[2016-11-12 08:12] sinegovsky-ivan opened #21 "Save on focus out?"
Hi,

Is any way to make input changes after "focus out" ?

[2016-11-12 08:14] sinegovsky-ivan commented on #12
Any news about date picker ? :)

[2016-11-12 08:27] sinegovsky-ivan opened #22 "pass arguments to fnErrorPattern and fnErrorLength ?"

[2016-11-12 13:39] Caballerog commented on #21
Hi @sinegovsky-ivan if you use `[(ngModel)]='myVar' `in the ng2-inline-editor you could change the value from your TS.

TS
`
myVar = 'newValue';
`

[2016-11-12 13:40] Caballerog commented on #12
I need a little more time because I have a lot of work in my company :'(

[2016-11-12 15:01] sinegovsky-ivan commented on #21
Your not understood me.

I want remove buttons ("save" and "cancel") and change behavior to "text saved after input loses focus"

[2016-11-12 15:19] Caballerog commented on #21
Hi @sinegovsky-ivan,

I understand you now! I believe that I should implement @Output onFocus to implement this feature.

At the moment, I think that is impossible.

I mark this feature like important too!

[2016-11-12 15:32] sinegovsky-ivan commented on #21
Thank you!

[2016-12-20 15:05] devakone opened #23 "PostInstall issue with typings"
Hello,
Trying to install this on a project with Angular 2.1.0 with CLI v1.0.0-beta.19-3 and I am getting an error related to the typings install in the postinstall step.

[code]

Thanks

[2016-12-20 15:17] devakone commented on #23
The answer was in https://github.com/Caballerog/ng2-inline-editor/issues/16

`npm install -g typings`

will take care of it, although there should be no need for it at this point?

[2016-12-20 15:17] #23 closed

[2016-12-27 13:17] elmartino opened #24 "Trigger manually"
Is there an option to trigger the edit manually from another button for example?
Thanks for your reply!

[2016-12-27 22:13] jsphweid opened #25 "ERROR in InlineEditorModule is not an NgModule"
I can't past the basic example. I run `ng init` using Angular CLI, then `npm i ng2-inline-editor --save`. Add `import {InlineEditorModule} from 'ng2-inline-editor';` to app module then in the same file add `InlineEditorModule` to the imports array and ng serve that up and I get that `ERROR in InlineEditorModule is not an NgModule` error. I saw your note on various versions of Angular2 ruining comp

[2017-01-05 05:15] apriyadarshi38 opened #26 "close and save button in same line"
Hi,
can i get close and save button in same line as input field?
thanx

[2017-01-05 17:54] xxxtonixxx commented on #22
@sinegovsky-ivan arguments? which ones?

[2017-01-05 19:08] xxxtonixxx commented on #25
Hi @jsphweid , there is a problem with latest angular-cli and typescript ([angular-cli issue](https://github.com/angular/angular-cli/issues/3426)). [This could help you](http://stackoverflow.com/questions/41420619/error-appmodule-is-not-an-ngmodule)

[2017-01-06 15:57] ahinni opened #28 "Cancel doesn't update ngModel"
If you have any calculated fields that depend on the inputs' value, clicking cancel doesn't re-update them. See https://github.com/Caballerog/ng2-inline-editor/pull/27 for a fix.

[2017-01-09 15:07] Caballerog commented on #24
I have not yet developed it, but I can included this feature in the roadmap.

[2017-01-09 15:19] Caballerog commented on #28
Hi @ahinni,

Thanks for your PR, I've been on US for holidays and I was unable to review your contribution before.

[2017-01-09 15:19] #28 closed

[2017-01-09 15:36] #20 closed

[2017-01-09 15:36] #16 closed

[2017-01-09 16:06] Caballerog commented on #26
I just published a new version (0.1.1-alpha.10) which the buttons using the CSS class called
`inline-editor-button-group`. The new default value is `inline-block` but the modification is easy.

[code]

[2017-01-09 16:06] #26 closed

[2017-01-10 10:06] elmartino commented on #24
that would be great thanks!

[2017-01-11 06:07] apriyadarshi38 opened #30 "Get event when focus out"
can i get event when focus out from input field??????

[2017-01-11 09:18] Eolan opened #31 ""Empty" text value does not appear when min=0 and the user validates and empty value"
When min=0 is declared and the user validate empty content, the 'empty' text doesn't appear and the component is not selectable because not visible anymore.

[2017-01-11 13:23] apriyadarshi38 opened #32 "custom button size"
Hi can i get control to change button property such as padding ,width etc???????

[2017-01-17 17:47] Eolan opened #33 "AOT mode is not supported"
I use AOT with systemjs and I have some troubles with your component.

Basically I used the following procedure to be able to use it in aot mode:
https://github.com/yuyang041060120/angular2-ui-switch/issues/2
... and got it working to until the following error:

Error at [...]/node_modules/ng2-inline-editor/dist/inline-editor.component.ngfactory.ts:1434:46: Property 'editing' is private and only a

[2017-02-01 13:52] robgha01 opened #34 "Support for reactive forms"
I noticed the use of ngModel what about reactive forms ? is this someting that is planned or already supported ?

[2017-02-27 11:42] #25 closed

[2017-02-27 13:46] Caballerog commented on #33
I just upload a new version which AOT is supported :-)

[2017-02-27 13:46] #33 closed

[2017-03-03 00:26] devakone opened #37 "fnErrorLength issue with minification in angular-cli"
Hello,
Great module you got here, I ran into some edge cases that I think are worth looking into.

Let's say I define my input as:

`<inline-editor  empty="Add Text" #intro type="textarea" [(ngModel)]="intro.text" (onSave)="saveText($event)"
					(onEdit)="editText($event)" (onCancel)="cancel($event)" min="5" [fnErrorLength]="onTextMissing"> </inline-editor>`

And the onTextMissing is defined in t

[2017-03-03 00:29] devakone opened #38 "Control visibility of the input"
The `editing` variable is private in the component, but in case I want to control validation of the input there is no way to do so atm.
Adding a public `setEditMod(mode:boolean)` variable would help transfer control of the visibility of the editor to the calling component.

[2017-03-03 03:40] alvirtuoso opened #39 "Unexpected value 'InlineEditorModule' imported by the module 'AppModule'"
Anybody had this problem?

in my app.module.ts:
`import { InlineEditorModule } from 'ng2-inline-editor';

...
@NgModule({
  imports: [InlineEditorModule, ...],
  declarations: [...]
`

in my template:
` <inline-editor type="text" [(ngModel)]="editableText" (onSave)="saveEditable($event)" name="editableText1" size="8"></inline-editor>`

I installed using npm:

Did I miss anything?

[2017-03-06 14:37] devakone commented on #39
What version of Angular are you using? And it sounds like you are more than likely using the angular-cli? This is a known issue when you're using a new version of the cli than the one this project was targeted at.

[2017-03-07 16:51] KeithGillette commented on #21
It would be great if the component API allowed access to the "save" and "cancel" button methods generically in such a way as we could bind arbitrary events to trigger them. For example:

[code]

[2017-03-25 06:08] sh977218 opened #40 "request new feature, support rich text edit. i.e. html format."
textAngular is a very good rich text editor, if combine it with basic inline edit. it would be nice.

[2017-03-28 14:35] otusweb opened #41 "release"
It would be great to get a new release of this component. I want to use the empty option on the test control, but it was added after the last release and I'm having issues building this myself as I'm new to angular apps

[2017-03-28 14:47] otusweb commented on #41
My bad there is a newer release, just not on github.

[2017-03-28 14:47] #41 closed

[2017-03-28 14:49] otusweb opened #42 "Empty option does not work with text area"
I created a text entry:
` <inline-editor type="text" empty="test" [(ngModel)]="slide.tweet" (onSave)="saveEditable($event)" name="tweetText" size="140"></inline-editor>`

But the empty string is not shown when slide.tweet is an empty string ("") as opposed to null

commit #4877aed5f727ea2b14a85fc2e2e55eed0f865d28

[2017-03-29 20:19] Shallyin83 opened #43 "ng build error with AOT compiler"
I am getting below error in ng build --prod.
----------------------------------------------------
ERROR in /Volumes/Working/projects/test/src/$$_gendir/node_modules/ng2-inline-editor/dist/inline-editor.co
mponent.ngfactory.ts (334,18): Property 'container' is private and only accessible within class 'InlineEditorCo
mponent'.
/Volumes/Working/projects/test/src/$$_gendir/node_modules/ng2-inline-edit

[2017-03-29 20:46] Caballerog commented on #43
It's a priority for us. I the next days we hope release a ng4 compatible version.

[2017-04-01 17:41] Caballerog commented on #43
We've pushed a new version which is ng4 compatible. In the next day we going to integrated this version in our projects and publish the new npm binary release.

[2017-04-01 17:41] #43 closed

[2017-04-01 17:42] Caballerog commented on #40
That's a great idea... I've working with ng-ckeditor which would be easy integrated in inline-editor.

[2017-04-01 17:44] Caballerog commented on #39
Today we've pushed a new version which is compatible with ng4. In the next day, I going to publish a new release in npm's repository.

[2017-04-01 17:44] #39 closed

[2017-04-01 19:18] sh977218 commented on #40
There is another angularJS library called textAngular that I've been using on. have you decided which rich text framework is going to integrate with? Or are you going to create your own rich text editor?

[2017-04-01 19:51] Caballerog commented on #40
I know textAngular but there is only for AngularJS. I prefer use another
open source project which there is angular4. This is the reason because
I've think to use ng2-ckeditor.

I think that we need use a rich editor (although it will be a basic editor).

El El sáb, 1 abr 2017 a las 21:18, Peter Huang <notifications@github.com>
escribió:

--
Enviado desde el teléfono móvil, disculpe las faltas.

[2017-04-07 16:18] twmiller commented on #21
Yeah, I think that @KeithGillette is onto something I need.  I'd like to have the return/enter key be an option for saving a field, rather than having to have my users click the check button after every field edit.

[2017-04-10 04:45] MorlaRamakrishna commented on #39
I am facing the same issue (alvirtuoso facing issue) with the inline editor, my angular version is 2.4.7, could you suggest me how to solve this?

[2017-04-10 11:17] MaZZly commented on #21
This is something I'd like as well. both being able to bind key events to save/cancel as well as having focusOut perform save

[2017-04-11 07:11] MaZZly opened #44 "Template parse error, 'ng-template' is not a known element"
Angular 2.4.6
By installing the plugin and importing it in app module I get the following console error:
[code]

According to https://github.com/primefaces/primeng/issues/2333 `ng-template` is Angular4 only.

Any fix for this?

[2017-04-11 07:16] Caballerog commented on #44
Hi!

ng-template is a new rename for template directive in angular 4.0.

The last release of ng-inline-editor is develop to ng4.0. So, you would
download the previously ng-inline-editor which is develop to angular 2.4.9.
Although, if you want to compile using AOT you will need the new version.

El El mar, 11 abr 2017 a las 9:11, MaZZly <notifications@github.com>
escribió:

--
Enviado desde el telé

[2017-04-11 14:05] MorlaRamakrishna opened #45 "Unexpected value 'InlineEditorModule' imported by the module 'NewreconAppModule'"
This issue closed but I am facing the same issue with angular 2
Could you guys help me to sort out this?

Anybody had this problem?

Unexpected value 'InlineEditorModule' imported by the module 'AppModule'.
in my app.module.ts:
`import { InlineEditorModule } from 'ng2-inline-editor';

...
@NgModule({
imports: [InlineEditorModule, ...],
declarations: [...]
`

in my template:
<inline-editor type="te

[2017-04-12 05:37] MorlaRamakrishna commented on #44
Sorry for silly question,

How can I download the previous ng-inline-editor which is develop to angular 2.4.9

[2017-04-12 11:55] StickNitro commented on #12
Any news on the datepicker?

[2017-04-18 12:56] xxxtonixxx commented on #44
Hi @MorlaRamakrishna , the previos version was 0.1.1-alpha.12, then you can execute `npm i ng2-inline-editor@0.1.1-alpha.12` to download it

[2017-04-18 13:00] xxxtonixxx commented on #38
Thanks for your feedback!

[2017-04-18 13:05] xxxtonixxx commented on #37
Hi @devakone , can you provide us a demo? Thanks for your report!

[2017-04-18 13:14] xxxtonixxx commented on #21
@KeithGillette @twmiller @MaZZly thanks for your feedback, can you open other issue to track that feature? 👍

[2017-04-18 13:18] KeithGillette opened #47 "Enhancement Request: Allow arbitrary event binding to "save" and "cancel" button methods"
It would be great if the component API allowed access to the "save" and "cancel" button methods generically in such a way as we could bind arbitrary events to trigger them. For example:

[code]

[2017-04-18 13:19] KeithGillette commented on #21
Enhancement request #47 opened, @xxxtonixxx. Thanks!

[2017-04-18 13:19] xxxtonixxx commented on #47
Thanks! 👍

[2017-04-19 17:32] devakone commented on #37
Never mind, this was due to the fact that I was using Anmgulr 2.1 at the time when the code for this library had been updated to be compatible with 2.3 and above. I had to revert momentarily to an earlier version of this library before finally updating it. You can go ahead and close this. Thank you.

[2017-04-19 17:32] #37 closed

[2017-04-19 17:47] xxxtonixxx commented on #37
Thank you for your feedback! :+1:

[2017-04-21 14:45] xxxtonixxx commented on #45
@MorlaRamakrishna  I have't had that problem...

Can you try the latest version if that problem has been fixed?

[2017-05-01 04:37] MorlaRamakrishna commented on #44
Thank you so much @xxxtonixxx you saved me from getting out of this.

[2017-05-01 19:02] Caballerog commented on #7
I've think about this issue, would be a good option use ngx-quill (https://github.com/KillerCodeMonkey/ngx-quill)

[2017-05-01 19:03] #7 closed

[2017-05-02 07:39] xxxtonixxx commented on #44
Your welcome 😉 I think I can close this 👍

[2017-05-02 07:40] #44 closed

[2017-05-02 15:38] sh977218 commented on #32
There is default styles for all html elements. You can add customized styles in component to overwrite them.

[2017-05-05 06:39] Sverik opened #51 "Examples?"
Where have all the examples gone? There's no source for them in the master branch. Compiled and runnable examples are in the gh-pages branch, but there's no source there, either.

[2017-05-05 07:49] xxxtonixxx commented on #51
Examples were deleted from repository, but they will go back again soon!

While around, you can see the examples at [this point of repository](https://github.com/Caballerog/ng2-inline-editor/tree/79e9628803b696d552b653b618fc2cb3c1d64a02/demos)

Thanks @Sverik for reporting this 😅

[2017-05-05 21:05] sh977218 opened #53 "ng2-inline-editor/dist/index"' has no exported member 'InlineEditorModule'"
I'm using latest angular 4.1.0 as 5/5/2017.
I'm experiencing an error:
`"ng2-inline-editor": "0.1.1-alpha.3"
`
Is anyone else having the same issue?

[2017-05-05 21:08] sh977218 commented on #53
issue fixed after upgrading to "0.1.1-alpha.19"

[2017-05-05 21:08] #53 closed

[2017-05-06 12:18] Caballerog commented on #32
I just to update the new version in which you would use your own styles.

The className of the buttons are the classical naming of bootstrap (btn btn-primary btn-xs and bnt-danger).

This feature is in the version 0.1.1-alpha.20

[2017-05-08 16:05] sh977218 opened #54 "ngModal is undefined and not showing 'empty' when text"

[2017-05-08 16:08] xxxtonixxx commented on #54
Hi, can you provide us a demo? 👍

[2017-05-11 11:45] #45 closed

[2017-05-15 21:49] xxxtonixxx commented on #47
@KeithGillette this feature will be added with #57. You will be able to do this:
[code]
or more complex/low level:
[code]

👍

[2017-05-15 21:51] xxxtonixxx commented on #30
This feature will be added whit #57.

You will be able to do this:
[code]

👍

[2017-05-15 21:58] xxxtonixxx commented on #38
This feature will be added with #57 using the method `edit( { editing: boolean, doFocus: boolean } )` 👍

[2017-05-15 22:06] xxxtonixxx commented on #21
@sinegovsky-ivan, @twmiller  follow #57, when that PR be merged, you will be able to use `saveOnBlur` property to save on focus out and `hideButtons` to hide buttons. You can see #30 and #47, there are examples

[2017-05-16 07:26] xxxtonixxx opened #58 "How should the public API be? We want your feedback"
With the last PR (#57), the public API is going to change and it would be good opinions and way of to do this.

At the moment, the public API is something like this:
All events return an `ExternalEvent` (exported as `InlineEvent`) ->
[code]
An `state` is the state of input when this one changed (the new state), for example: if I click an input, its state will change from `editing: false` to `editi

[2017-05-16 07:47] xxxtonixxx commented on #34
Hi @robgha01, thanks for your feedback, but are you referring to this [reactive forms](https://angular.io/docs/ts/latest/guide/reactive-forms.html)? I don't see any of this in your zip.

I don't know at this moment how to implement that, however I have seen this [plnkr](http://embed.plnkr.co/nlnpBjNkifow2M0MXkdr/) and it could be the way (it's possible that we need to create a new component how yo

[2017-05-16 17:46] sh977218 commented on #54
I couldn't reproduce it. closing it.

[2017-05-16 17:46] #54 closed

[2017-05-17 19:08] xxxtonixxx opened #59 "Roadmap to 1.0"
- [ ] Change name to `ngx-inline-editor` or `ng-inline-editor` and move it to @qontu org
- [ ] To do test to the project
- [ ] Rewrite README.md
- [ ] Create new examples using the new features and possibilities
- [ ] Create documentation into the source code (using [compodoc](https://github.com/compodoc/compodoc))
- [ ] Use [semver](http://semver.org/)

[2017-05-19 09:03] otusweb opened #60 "alpha 20 break styling"
In alpha 19, the styling had by default a red underlined text
<img width="434" alt="screen shot 2017-05-19 at 10 58 27" src="https://cloud.githubusercontent.com/assets/1069914/26240685/257f7d22-3c82-11e7-8554-90557097afd1.png">

With version alpha 20:
the text has no styling making it hard to see that user can click.

also the html generated seem to be missing some divs:
alpha 19:

`<inline-editor

[2017-05-19 09:14] xxxtonixxx commented on #60
We have decoupled styling from component. That styles are located in `ng2-inline-editor/themes/bootstrap.css` and you can import them 👍

[2017-05-19 09:22] xxxtonixxx commented on #60
If you use angular-cli, you can import them using this line in `src/styles.css`:
[code]

[2017-05-19 10:30] Caballerog commented on #60
You would create your own styles and themes. If you're using `angular-cli` you can use SASS (`.scs`s) in your transpiler.

In the next release I going to put a class to the inputBase container which you would style the display. At the moment it's `display:block`.

[2017-05-19 10:30] #60 closed

[2017-05-19 11:10] otusweb commented on #60
ok, thx

[2017-05-22 19:31] Caballerog commented on #59
I Just update the roadmap, including several features basic to do in 1.0

[2017-05-23 12:08] higunjan opened #61 "Checkbox needed ."
What should I do for checkbox ?

[2017-05-24 13:26] xxxtonixxx commented on #61
At the moment, how an input is implemented depends of PR https://github.com/Caballerog/ng2-inline-editor/pull/57

Because, the base input changes a lot ([new](https://github.com/xxxtonixxx/ng2-inline-editor/blob/3049aac575068ad009a95c46648dd3df1d371531/src/inputs/input-base.ts), [old](https://github.com/Caballerog/ng2-inline-editor/blob/f56f97d2429420e5bed6eea60be961afce149c53/src/inputs/input-bas

[2017-06-01 18:02] #38 closed

[2017-06-02 06:56] xxxtonixxx commented on #38
This should be fixed in the last version (`0.2.0-alpha.0`). With the change of name, you should do an `npm i @qontu/ngx-inline-editor` and update your imports 👍

[2017-06-02 06:56] xxxtonixxx commented on #47
This should be fixed in the last version (`0.2.0-alpha.0`). With the change of name, you should do an `npm i @qontu/ngx-inline-editor` and update your imports 👍

[2017-06-02 06:56] #47 closed

[2017-06-02 06:56] xxxtonixxx commented on #30
This should be fixed in the last version (`0.2.0-alpha.0`). With the change of name, you should do an `npm i @qontu/ngx-inline-editor` and update your imports 👍

[2017-06-02 06:56] #30 closed

[2017-06-02 06:57] xxxtonixxx commented on #21
This should be fixed in the last version (`0.2.0-alpha.0`). With the change of name, you should do an `npm i @qontu/ngx-inline-editor` and update your imports 👍

[2017-06-02 06:57] #21 closed

[2017-06-02 06:57] xxxtonixxx commented on #24
This should be fixed in the last version (`0.2.0-alpha.0`). With the change of name, you should do an `npm i @qontu/ngx-inline-editor` and update your imports 👍

[2017-06-02 06:57] #24 closed

[2017-06-02 06:58] xxxtonixxx commented on #61
These changes have been merged with `master`. Do you follow interested in implement the checkbox? 😄

[2017-06-02 07:03] xxxtonixxx commented on #22
`fnErrorPattern` and `fnErrorLength` have been deprecated. You can use the `onError` output event:
[code]
`$event` is a parameter of type `InlineEditorError[] -> { type: string, message: string }[]`

[2017-06-02 07:03] #22 closed

[2017-06-02 07:07] xxxtonixxx commented on #42
I have tested your code on `0.2.0-alpha.0` and it works. If it does not work yet, please, reopen! 😉

Thanks for reporting 👍

[2017-06-02 07:07] #42 closed

[2017-06-02 07:17] xxxtonixxx commented on #31
Does it happen using an input number or text? And can you test it with the last version `0.2.0-alpha.0`?

Thanks for reporting! 👍

[2017-06-05 15:50] Caballerog opened #63 "Div inside inlineEditorWrapper"
Now there are a `div` inside inlineEditorWrapper which provoke a` display:block` in the design.

The ideal would be that it element was removed due to there are a div called inlineEditorWrapper which can be customize since CSS/SASS.

[2017-06-06 10:28] higunjan commented on #61
Yes I'm interested.!

[2017-06-06 12:44] Caballerog commented on #61
@Gunjan you're welcome to contributing!

👍🏻
El El mar, 6 jun 2017 a las 12:28, Gunjan <notifications@github.com>
escribió:

--
Enviado desde el teléfono móvil, disculpe las faltas.

[2017-06-06 16:29] xxxtonixxx commented on #61
Yes, I can, however I don't understand what you mean 😕

[2017-06-07 03:29] higunjan commented on #61
If you developed checkbox or still working on it. Than update home README.txt file on git so, I can check and update my code.

[2017-06-07 07:47] xxxtonixxx commented on #61
There isn't any advance in checkbox implementation, you should start it. The `master` branch is up-to-date and there aren't any feature work-in-progress at the moment.

You can open a PR and inform us with your progress! If you have any doubt, question or trouble while you are implementing it, not doubt on ask us.

You can see other input implementations (like `InputSelectComponent`, `InputTextCom

[2017-06-07 13:09] zhaochy1990 opened #64 "can this module support percentage input?"
I want to input a percentage value, can this feature be supported in future?

[2017-06-07 15:46] xxxtonixxx commented on #64
Yes, it can and It is not too complex of implement!

We could use the [native input `range`](http://jsfiddle.net/dnn5p7k3/), however, I think we should change the default style with other like [this](https://codepen.io/chriscoyier/pen/FtnAa) ([reference][1]), because default style is ugly and browser-dependent.

Thanks for your feedback 👍

[1]: https://css-tricks.com/styling-cross-browser-compatib

[2017-06-07 16:39] xxxtonixxx commented on #64
However, I'm thinking on this and what kind of input would it be? Can you provide us an example (an image or so) of how it should be 😕

So, I'm wrong, because the [range input](https://github.com/qontu/ngx-inline-editor/blob/master/src/inputs/input-range.component.ts) it's already implemented...

[2017-06-09 13:50] KeithGillette commented on #58
Very excited to see these enhancements, @xxxtonixxx! The new inputs and event bindings are extremely useful.

We are trying to understand how to invoke methods in the API but I don't see any examples to follow nor documentation of the API. How does one get a reference to a given `<inline-editor>` instance to invoke the public methods?

[2017-06-09 15:27] Caballerog commented on #58
@KeithGillette you would use the events the following way:

[code]

[2017-06-09 16:02] KeithGillette commented on #58
Thanks for the fast response, @Caballerog. I understand how to invoke my methods on a given event from the inline-editor as you have shown. My question is how to put a given `<inline-editor>` instance into a given state using the public API methods (`save()`, `saveAndClose()`, `edit()`, `cancel()`, `getHotState()`) [referenced above](https://github.com/qontu/ngx-inline-editor/issues/58#issue-22893

[2017-06-09 17:22] xxxtonixxx commented on #58
Thanks @KeithGillette for your interesting! 😄

The actual documentation (the `README`) is outdated, so in this moment there is not any documentation or examples... It is the next step we want doing!

If you want to get an instance of `InlineEditorComponent` you should use the `@ViewChild()` decorator or defining the reference into the template and pass it like a function parameter (ex: `<inline-ed

[2017-06-09 20:25] KeithGillette commented on #58
This is **outstanding**. Thanks for the quick and detailed example, @xxxtonixxx!

Unfortunately, my use-case is a bit more complex, so I ask for a bit more guidance. Within the template for my component, we have dynamically generated InlineEditorComponent instances (inside of a treeview). I can dynamically assign each a unique id `<inline-editor [id]="node.id">` where `node.id` is a uniquely defin

[2017-06-12 14:13] KeithGillette commented on #58
First, thank you, @xxxtonixxx and @Caballerog for this useful component and these recent API enhancements which have made it much more versatile.

Since you're requesting feedback on these changes, here are a couple of suggestions that have occurred to me in using the new API in my project:
### Select on Edit
Add `select` boolean parameter to the `edit` method to [select the value of the input](ht

[2017-06-12 15:31] xxxtonixxx commented on #58
By order:

- Select on edit is a so good option to add and I think focus/select is better too 👍
- Really, you have discovered a bug ([it should call the `emit` method](https://github.com/qontu/ngx-inline-editor/blob/master/src/inline-editor.component.ts#L335), which returns the value or object ) 😅 We considered that approach, so we added a config option (`onlyValue`) and its value is `true` by def

[2017-06-13 14:17] Caballerog commented on #63
close https://github.com/qontu/ngx-inline-editor/commit/fd08459d688ab03264c3368363a01e425b89ca5f

[2017-06-13 14:17] #63 closed

[2017-06-13 16:57] jesussegado commented on #58
Hi @KeithGillette @xxxtonixxx

I have added the select feature and fixed bug in cancel method
https://github.com/qontu/ngx-inline-editor/pull/65
https://github.com/qontu/ngx-inline-editor/pull/66

[2017-06-16 08:21] Caballerog opened #68 "Error in validation of form"
When a input element is validate using (onError) for example, in the form the change is avoid, ie, the component work correctly but sadly, in the model (ngModel) reference the change is done.

So, this is a bug in the behaviour of the component.

[2017-06-16 08:47] Caballerog opened #69 "Input text size should be "0""
At the moment the default value for input text size is 8, this is a problem when you wish use Bootstrap or any framework to design your component.

If the default value is -1 or 0, the component use the class assign to define the size of the input. Futhermore, in the configuration object you would define your own size in the case that you need define this value.

[2017-06-16 08:51] Caballerog commented on #69
The default value -1 or 0, really provoke that the browser determine the input's size.

So, another solution should be used.

[2017-06-16 09:55] Caballerog commented on #69
I've found a temporal solution for this issue.

In your .scss you would use the following rules:
[code]
So, your input type text and select using the 100% of the parent container. If you want more control your would use the angular component like a selector (+1 in the specificity):

[code]

[2017-06-16 09:55] #69 closed

[2017-06-18 20:47] ManuelMolina97 opened #70 "Required is not being checked"
Running this piece of code:

[code]

If element's text is empty when submitting, it does not trigger any error.

[2017-06-18 20:49] xxxtonixxx commented on #70
Thanks for your reporting! 👍

[2017-06-18 21:37] ManuelMolina97 opened #71 "Input select default value"
I would want to set a default value to selects input, how could I do it?

Thank you.

[2017-06-21 09:38] johaven commented on #61
any news ? :)

[2017-06-21 11:33] KeithGillette commented on #58
Another bit of feedback on this extremely useful component:

I have discovered that one can pass additional arguments to the controller methods invoked by the public API from the template bindings, such as `(onEnter)=onInlineEditorEnter($event, node)` where `node` is some locally defined template variable. I am not sure whether this behavior is by design or accident, but I have found it critical t

[2017-06-21 14:17] xxxtonixxx commented on #58
Hi! @KeithGillette, yes, it's an expected behavior and I've written some examples doing something similar.

However, we should add some information about inline-editor's instance which is executing the method, based on this PR https://github.com/qontu/ngx-inline-editor/pull/72

Thanks for your feedback again, we appreciate them a lot 😄

[2017-06-21 14:58] KeithGillette commented on #58
Great! So here's another piece of feedback:

I think calling manually `edit` on an inline-editor instance should override the `disabled=true` input binding. Here is the use case:

I have a dynamically generated set of inline-editor instances repeated in my component template. I want the inline-editor to be invoked by selecting `Rename` from a drop-down menu associated with each instance instead of

[2017-06-22 20:28] xxxtonixxx commented on #58
@KeithGillette , I think what you need to use is the `[editOnClick]` option. It is `true` by default, if you set it to `false` when you click on `inline-editor`, it will do nothing. So, you don't need to enable and to disable it on each edition

Is it what you need? 👍

[2017-06-23 00:09] KeithGillette commented on #58
Yes, thanks, that is indeed exactly what I need, @xxxtonixxx! So please amend my last feedback post to this: The public API should be, well, _public_, since I think your last comment is the only place `[editOnClick]` is presently publicly documented.  ;-)

[2017-06-27 16:30] jongunter opened #73 "Custom Display Templates"
Hi there, great plugin! It'd be nice if I could add some custom formatting/HTML when the <inline-editor> components are in display mode.

For example, next to the username, I would want to display a user icon, but not in editing mode.
[code]

[2017-06-27 18:01] jongunter opened #74 "Externally Trigger Editing Mode with an input"
It would be useful if one could trigger editing from an input. For example:
[code]

[2017-06-27 18:04] xxxtonixxx commented on #74
Hi @jongunter, you can do it 👍, simply:

[code]

😄

[2017-06-27 18:07] xxxtonixxx commented on #73
Hi! Thanks for your feedback, this feature is in our roadmap, but there are more important things to do yet.

If you would want to implement it, it was awesome 😄 There is a PR open https://github.com/qontu/ngx-inline-editor/pull/35 that implements something similar using `ng-content`

[2017-07-03 06:15] tom-b-wright opened #77 "Validating after onSave"
I am looking for a way to implement this scenario: a phone number field gets edited and when I click save, the (onSave) event is triggered; the back-end is invoked and it rejects the phone number as being duplicate, invalid, wrong country etc. The problem is that I can't signal to the inline-editor that, in fact, the value is wrong and an error message should be displayed. The editor goes back to

[2017-07-03 13:20] xxxtonixxx commented on #77
Hi! Yeah, a workaround for this scenario could be:

- Template
[code]

- Component
[code]

[2017-07-03 20:22] tom-b-wright commented on #77
It works indeed!
Thank you Toni!

[2017-07-03 20:22] #77 closed

[2017-07-16 23:36] ManuelMolina97 opened #78 "Input's value is changed when clicking cancel button"
Running this piece of code:

[code]

Input's value gets changed does not matter whether I click its cancel button or its confirm button.

[2017-07-17 00:15] xxxtonixxx commented on #78
Thanks for your report! This bug has priority

[2017-07-19 17:52] ManuelMolina97 commented on #78
I just realized of my mistake, the problem was I had:

[code]
In my template, so blur event was triggered before cancel's. That's why it was being saved.

[2017-07-19 17:52] #78 closed

[2017-07-19 18:23] xxxtonixxx commented on #58
Hi @KeithGillette I have created a new PR with the docs 😄 Can you give us some feedback? https://github.com/qontu/ngx-inline-editor/pull/79 it's in WIP too, but that is the way 😉

[2017-07-19 19:22] xxxtonixxx commented on #78
Thanks for share your experience! 🤣

[2017-07-20 10:38] xxxtonixxx commented on #61
@higunjan and @johaven, there is a new PR (https://github.com/qontu/ngx-inline-editor/pull/80) implementing the checkbox 😉

[2017-07-28 14:20] ArielGueta opened #82 "Use with Reactive forms"
Hey,

Great library, thanks. I see all the examples are working only with `ngModel`, what about Reactive forms?

Thanks.

[2017-08-01 21:22] KeithGillette commented on #58
Hi @xxxtonixxx. Apologies on the delay in responding. I've just returned from vacation this week.

The new documentation site looks great! As you say, it's a work-in-progress, as it's lacking coverage of the bindable events and methods from the new public API.

FYI: I noticed a few small wording changes that might make the documentation clearer but when I clicked the `Edit page` links, it got a 40

[2017-08-01 21:33] KeithGillette opened #83 "`onSave` method called twice if both `saveOnBlur` and `saveOnEnter` attributes set to `true`"
We are using `ngx-inline-editor` with `hideButtons` set to true and want to have the input text value saved either when the user presses Enter or clicks outside the input, causing the the input to blur, so we have set both `saveOnBlur` and `saveOnEnter` to `true`. This causes the method bound to `onSave` to be called twice if the user presses `Enter`, perhaps because that action causes the input t

[2017-08-02 21:17] xxxtonixxx commented on #83
I understand your problem and you are right! `onSave` should only trigger once

Thanks for your reporting 👍

[2017-08-02 21:25] xxxtonixxx commented on #82
Hi @ArielGueta, thanks for your feedback 👍 . I have not used it with Reactive forms yet. However, I have viewed some examples and it does not seem hard to do. I will try to add some examples to documentation and check if it needs more stuff.

This issue is related with https://github.com/qontu/ngx-inline-editor/issues/34. Maybe, It needs more work 😉

[2017-08-02 21:46] xxxtonixxx commented on #58
Thanks @KeithGillette for your review!! 😄

Yeah, I hope to have it ready soon 😅 And thanks for your interest in improve the docs, it fails because the link points to `qontu/ngx-inline-editor` but it is in my fork, the `Edit page` link won't work until the PR is merged 👍

[2017-08-03 04:32] ArielGueta commented on #82
Thanks!

[2017-08-03 06:04] zhaochy1990 opened #84 "how to config ngx-inline-editor, so that it does not start a new line"
ngx-inline-editor always starts a new line

for instance, the following html,

[code]

I want it to be rendered as
[code]

but infact it is
[code]

how to config the inline-editor, so that it won't start from a new line?

[2017-08-03 17:13] xxxtonixxx commented on #84
Hi @zhaochy1990 that behavior is already done and it is the default behavior. Please, update your `ngx-inline-editor` version to the latest 👍

Here you have a simple demo https://embed.plnkr.co/Bq2pVG14oyEJrogsNmeS/

If it doesn't resolve your problem, please, reopen this issue 😉

[2017-08-03 17:13] #84 closed

[2017-08-04 01:41] zhaochy1990 commented on #84
is the latest version 0.2.0-alpha.6 ?

[2017-08-04 02:06] zhaochy1990 commented on #84
yeah, it works, thank you.

[2017-08-04 14:33] #61 closed

[2017-08-04 14:34] xxxtonixxx commented on #61
The PR was merged 😉

[2017-08-04 18:10] xxxtonixxx opened #85 "Required property doesn't work"
If I mark an inline-editor as `required: true`, when I save it, it does not check anything and how the inline-editor is hidden the browser doesn't show anything

[2017-08-05 19:09] #83 closed

[2017-08-05 19:34] xxxtonixxx commented on #83
It is fixed in `0.2.0-alpha.9` 😄

[2017-08-05 19:35] xxxtonixxx commented on #61
You can test the new checkbox input in `0.2.0-alpha.9` 😉

[2017-08-05 19:37] xxxtonixxx commented on #85
It is duplicate of https://github.com/qontu/ngx-inline-editor/issues/70

Close this 😅

[2017-08-05 19:37] #85 closed

[2017-08-10 15:03] ahmedtaaw opened #86 "fire a function to reload ngx-inline-editor to apply it to the new added input"
Hello
I have a form for emails list. ngx-inline-editor works perfectly with the loaded inputs.
the user has the option to add new mail.
i need to fire ngx-inline-editor  to the new added input

[2017-08-10 15:16] ahmedtaaw commented on #82
Hello @ArielGueta you will find it used in reactive form under ngx-inline-editor  branch
https://github.com/ahmedtaaw/angular-reactive-form-control-dynamic-ngfor-json

[2017-08-10 15:17] ahmedtaaw commented on #34
Hello @xxxtonixxx  you will find it used in reactive form under ngx-inline-editor  branch
https://github.com/ahmedtaaw/angular-reactive-form-control-dynamic-ngfor-json

[2017-08-10 15:34] ahmedtaaw commented on #86
i found a solution for it by rebuilding the form again
as i am using reactive form i put the code of
this.reactiveForm = this.FormBuilder.group({ ... })
inside a function and fire it in both
-ngOnInit
and -the add function

[2017-08-10 15:34] #86 closed

[2017-08-10 15:49] ahmedtaaw opened #87 "ERROR TypeError: this.onChange is not a function"
at this line
`<inline-editor placeholder="Email" type="text" formControlName="newEmail"></inline-editor>`
in this project
[https://github.com/ahmedtaaw/angular-reactive-form-control-dynamic-ngfor-json](https://github.com/ahmedtaaw/angular-reactive-form-control-dynamic-ngfor-json)
under

[2017-08-10 22:15] xxxtonixxx commented on #87
I have seen your demo and I'm trying it. Thanks for it!

You are using an outdated version. Please update to `@qontu/ngx-inline-editor` and that error will go away. However, I have been another error... I will investigate it 😉

[2017-08-11 00:51] ahmedtaaw commented on #87
Thanks for reply,
yes I see now this error

[2017-08-11 17:14] xxxtonixxx commented on #87
Hmmm, I did not refer to that error. I did not get that error 😕

[2017-08-11 20:21] ahmedtaaw commented on #87
yes, it was another error forget this.
no errors now but I can't see the values unless I press on the field to edit, I only can see the value on edit mode of each field.
you can find it here
[https://github.com/ahmedtaaw/angular-reactive-form-control-dynamic-ngfor-json/tree/ngx-inline-editor](https://github.com/ahmedtaaw/angular-reactive-form-control-dynamic-ngfor-json/tree/ngx-inline-editor)

Tha

[2017-08-11 21:26] xxxtonixxx commented on #87
Hi @ahmedtaaw, I just have open a new PR to resolve that problems https://github.com/qontu/ngx-inline-editor/pull/88

I have been testing using your demo (thanks 😄). I'm going to publish a new version and could you test it in depth? I will appreciate a lot your feedback 👍

[2017-08-11 21:31] xxxtonixxx commented on #87
You can update to version `0.2.0-alpha.10` 😉

[2017-08-11 22:12] ahmedtaaw commented on #87
issue solved thanks @xxxtonixxx  👍  😄 🎆

[2017-08-11 22:12] #87 closed

[2017-08-17 13:19] vajdajana opened #89 "Links => 404 Page not found"
https://github.com/qontu/ngx-inline-editor/blob/master/demos/basic
=> 404 Page not found

[2017-08-25 05:34] andrew-jones commented on #89
The link https://qontu.github.io/ngx-inline-editor/examples/basic/ works, however its trying to load from the old ng2-inline-editor repo.  eg. https://qontu.github.io/ng2-inline-editor/examples/basic/main.bundle.js returns a 404 but replacing with ngx-inline.... resolves.

[2017-08-25 18:45] xxxtonixxx commented on #89
@vajdajana those examples/demos are so outdated. I'm working in new examples and documentation in https://github.com/qontu/ngx-inline-editor/pull/79. In this moment, you can see https://xxxtonixxx.github.io/ngx-inline-editor/en/usage/first-example/ (WIP) and plays with the code, however the example is broken https://github.com/qontu/ngx-inline-editor/pull/79#issuecomment-324848577 at this moment,

[2017-09-01 03:30] zhaochy1990 commented on #84
@xxxtonixxx  the `type="text"` and `type="textarea"` component will not be rendered several days ago, please visit your demo. `password` and `select` is ok, need fix.
https://embed.plnkr.co/Bq2pVG14oyEJrogsNmeS/

[2017-09-01 07:35] zhaochy1990 opened #90 "some type not work with alpha.10 version"
hi, guys
some types such as `text`, `textarea` not work under the newest version.
the `0.2.0-alpha.9` is ok, but `0.2.0-alpha.10` will not work as expected.
try and change the version in config.js
https://embed.plnkr.co/GfGHaUdbPWyg7xBmN4vg/

P.S. something might help
I reviewed your code, it seems the problem is the newest version refactored file `input-base.ts`, the constructor get state through

[2017-09-03 21:44] xxxtonixxx commented on #90
Hi @zhaochy1990, thanks for your interest and help 😃

This issue is related to https://github.com/qontu/ngx-inline-editor/pull/79#issuecomment-325008603

It's produced because I changed the `changeDetectionStrategy` of the component to `OnPush` and something isn't working properly 😢

I hope to have time next weekend. If you want to try to resolve it, I would be disposed to help you (it would be aw

[2017-09-05 15:32] Granaat opened #91 "initial value not set"
When placing the component the initial value is invisible / not set.
It only updates after changing.

How can this be avoided?

[2017-09-06 08:09] zhaochy1990 commented on #90
yeah, I'd love to contribute. I will try this weekend

[2017-09-06 10:41] xxxtonixxx commented on #91
Hi @Granaat! It's related with https://github.com/qontu/ngx-inline-editor/issues/90

To avoid this behavior use the version `0.2.0-alpha.9` until it is resolved 👍

[2017-09-07 08:10] #91 closed

[2017-09-08 21:01] Emmpa commented on #74
That worked great for me ... except that if I click cancel, then it shows [object Object] instead of the original text. Clicking on the element normally does not give that problem though.

[code]

[2017-09-11 02:18] xxxtonixxx commented on #74
@Emmpa I can not reproduce your problem using your code. Please, provide me a complete demo or more concrete steps 👍 And what version of ngx-inline-editor are you using?

[2017-09-11 02:59] #90 closed

[2017-09-11 03:09] xxxtonixxx commented on #90
I have fixed it in latest version `0.2.0-alpha.11`.

@zhaochy1990 thanks for your hints, they were so useful! 😄 and if you could test it 👍

[2017-09-11 14:21] Emmpa commented on #74
Hmm... I think I was using an older version of the inline-editor. I updated the version and everything is working correctly now. Thank you!!

[2017-09-11 14:37] xxxtonixxx commented on #74
Ok @Emmpa Your welcome 😉

[2017-09-11 14:37] #74 closed

[2017-09-13 19:58] jmorganmartin opened #92 ""Error: Uncaught (in promise): TypeError: Cannot read property 'length' of null" error thrown when using <inline-editor type="textarea" when [(ngModel)]="null""
The error is fairly self-explanatory. Using version 0.2.0-alpha.11.

Here is my code:

[code]

If `booking.description` is `null`, triggers the error:

[code]

The workaround is to write a quick check to prevent passing a variable that might be `null` (an empty string, `''`, is fine).  I believe this issue is new to one of the recent updates.

Triggered in ngx-inline-editor.es5.js (line 235):

[co

[2017-09-14 00:44] xxxtonixxx commented on #92
Hi @jmorganmartin, thanks for your reporting and help! 👍

Yeah, it seems easy to fix. I will fix it when I have time (maybe, next weekend), however if you want help us, you could open a PR 😉

[2017-09-14 20:00] rcanand opened #93 "Swap Enter behavior in textarea"
I have an inline editor of type textarea:

`<inline-editor type="textarea" rows="10" cols="50" [(ngModel)]="name"></inline-editor>`

The default behavior while editing the field is for enter to submit and close, and for shift+enter to go to next line in textarea. I would like the ability to configure these to be swapped - i.e, I want enter to go to next line within the text area, and shift enter t

[2017-09-15 20:54] jmorganmartin opened #94 "Cannot build (rollup version conflicts). "Error: Unexpected key 'moduleName' found""
`"gulp-rollup": "^2.14.0"` currently resolves to `gulp-rollup@2.15.0` which requires `rollup@0.49.3` which conflicts with the `"rollup" : "0.47.2"` required in package.json.

If `gulp-rollup@2.15.0` is installed (with its `rollup@0.49.3` dependency), the `npm run build` will throw this error:

**ngx-inline-editor\node_modules\gulp-rollup\node_modules\rollup\dist\rollup.js:171**
[code]

Solution: r

[2017-09-15 20:58] jmorganmartin commented on #92
@xxxtonixxx I'm working on it right now. Ran into a separate issue trying to build.

[2017-09-15 21:34] jmorganmartin commented on #94
https://github.com/qontu/ngx-inline-editor/pull/95

[2017-09-15 21:34] jmorganmartin commented on #92
https://github.com/qontu/ngx-inline-editor/pull/95

[2017-09-16 19:26] xxxtonixxx commented on #94
Thank you! 👍

[2017-09-16 19:29] xxxtonixxx commented on #93
Hi @rcanand, I like your proposal 👍

I think it's easy so I will try to add it ASAP (if you can not wait, you could send us a PR 😉)

[2017-09-16 19:35] xxxtonixxx commented on #82
Hey @ahinni and @ArielGueta, reactive forms support was added in #88, if you could test it and give us feedback it was awesome 😉

[2017-09-20 11:13] daylenlim opened #96 "Error: Uncaught (in promise): TypeError: value is null"
Hi there,
Everything is work fine. but I'm not sure why this error keep showing on my console log when using the inline-editor.
![capture](https://user-images.githubusercontent.com/7201732/30640953-aefc8196-9e37-11e7-828f-d0c968305b6e.PNG)

[2017-09-20 11:26] mandeeps1 opened #97 "Only current input text editor should remain active when clicked, in case of multiple editors"
Steps:
1. Create text editor on multiple different form fields.
2. Click on all that fields.

Expected result:
Only the current editor should remain active. Other opened editors should remain inactive.

Actula result:
All opened editors remains active

Version: 0.1.1-alpha.20

[2017-09-21 20:50] ebakke opened #98 "Allow custom class names on buttons/icons"
It'd be wonderful if the button and icon class names were configurable. In my application, I don't want `btn-primary` as the class on the checkbox. You can imagine wanting to use other icons as well.

[2017-09-23 08:41] xxxtonixxx commented on #96
Hi! I think it is related to https://github.com/qontu/ngx-inline-editor/issues/92 Could be?

[2017-09-23 08:46] xxxtonixxx commented on #97
Hi @mandeeps1, thanks for your reporting :+1:  I think you can use `[saveOnBlur]` attribute to save when loose the focus of input
[code]

Does it resolve your problem?

[2017-09-23 08:50] xxxtonixxx commented on #98
Hi @ebakke! I think it's an important feature. I will implement it when I have some of time :+1: (if you want it sooner, you could do a PR :wink:)

[2017-09-25 20:20] otusweb opened #99 "How to programmatically start editing"
I use the text area editing and when the user saves the data it is sent to the server. Sometimes the server will return a validation error. In this case, how can I programmatically put the text area back into editing mode so the user can fix it?

[2017-09-25 20:51] xxxtonixxx commented on #99
Hi @otusweb, I think it should work like you want :+1:

[code]

I think we should provide a better API to do this kind of things

[2017-09-25 21:06] jmorganmartin commented on #96
@xxxtonixxx Yes. It's the same issue.

[2017-09-25 21:29] xxxtonixxx commented on #94
Fixed in https://github.com/qontu/ngx-inline-editor/pull/95

[2017-09-25 21:29] #94 closed

[2017-09-25 21:29] xxxtonixxx commented on #92
Fixed in https://github.com/qontu/ngx-inline-editor/pull/95

[2017-09-25 21:29] #92 closed

[2017-09-25 21:31] xxxtonixxx commented on #96
Okei @jmorganmartin. Then, we need more info @daylenlim, can you provide us a demo or more information?

[2017-09-26 08:05] mandeeps1 commented on #97
Hi @xxxtonixxx ,

Thanks for the info!!
It is working fine  until the underlying object/field is not NULL.
It still remains active when the object/field is NULL. It displays NULL fields as "empty" instead of a blank string.

[2017-09-27 12:38] otusweb commented on #99
@xxxtonixxx Thanks, this worked. Follow up question, how do I set the component to be in error state and show the red border. I tried adding the error class on the inline editor but that did not work.

[2017-09-28 15:01] pedrollo commented on #31
@xxxtonixxx It happens also in **0.2.0-alpha.11** - number & text input.

[2017-09-29 23:54] mumairofficial opened #100 "Dynamically enabling and disabling edit is not working"
I am working on pilot project and I figured out if toggle editable status dynamically then it does not work. **angular version is 4.4.4 and cli 1.4.4**

here is example piece

[code]

Ts:

[code]
I also have tried `[disabled]` no progress. Please guide me if I am doing it wrong.

[2017-10-01 15:16] xxxtonixxx commented on #31
Hmmm, I will investigate it, thanks @pedrollo :+1:

[2017-10-01 17:18] xxxtonixxx commented on #99
it works for me:
in `src/styles.css`. It must be global because the scoped style breaks it
[code]

And in my inline-editor I use the `ngClass` property
[code]

Then, when you set `hasFailed` property to `true`, the class `error` will be applied.

Does it help you @otusweb?

[2017-10-01 17:22] xxxtonixxx commented on #100
Hi @mumairofficial, it's working for me. I have copied your example, but I'm using `[disabled]` instead of `disabled`, it's required.

[2017-10-05 14:13] otusweb opened #101 "How to disable save button in case of validation error"
I'm validating the user input in a text field as the user types it in. I'm displaying an error message to the user and I would like to prevent the user from clicking on the save button at this point.

Is it possible to programmatically disable the save button?

[2017-10-06 09:50] otusweb commented on #99
IT does, unfortunately when the control is focussed, so teh color is back to blue. I'll try revisit this later.

[2017-10-09 09:27] davidmpaz opened #102 "TypeError: Object.values is not a function"
Hi,
<br />
<br />thanks for this project. I am using this component in an ionic app. I get this error from:  `InputNumberComponent.InputBase.ngOnDestroy` when entering in a view with `inline-editor`s and then just going back in navigation.
<br />
<br />Any idea on what I am missing ?
<br />
<br />The whole stack trace is here, in case it helps
<br />```
<br />ERROR Error: Uncaught (in promise): Ty

[2017-10-09 11:22] sugiserv commented on #99
I would also like to start editing programmatically, but in my case I would like to click an external button to start editing. It seems I need access to the instance but I don't know how to get it. Do you know how I can do this?

[2017-10-09 13:09] davidmpaz commented on #102
Sorry for reporting this here. According to [this docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/values) a polyfill is needed for when `Object.values()` is not supported. After including polyfill into my app everything works as expected.

Solution:
* Install shim package:
`npm install object.values`
* In `src/app/app.component.ts` constructor,  Add:
[

[2017-10-09 13:09] #102 closed

[2017-10-09 14:26] xxxtonixxx commented on #99
Hi @sugiserv, it was resolved here https://github.com/qontu/ngx-inline-editor/issues/74#issuecomment-311438438 If you have any other question, no dude in ask us :+1:

[2017-10-09 14:30] xxxtonixxx commented on #99
@otusweb it is a common problem in the component styling of angular... And we haven't found a good solution (yet)

[2017-10-10 07:07] davidmpaz commented on #102
Hi @xxxtonixxx,

thanks for correcting me about it. I will read more in the direction you point me out. I don't have such `src/polyfills.ts` file in my ionic app and also I am not using `angular-cli` neither.

thanks!

[2017-10-11 18:38] KeithGillette commented on #58
I'm on to my next use case for this component and back with another recommendation for the API:

The `onKeyPress` binding should fire for _all_ keypresses, not just printable characters. Or better yet, the component should provide an additional configuration property similar to the [`angular-tree-component` KeyboardEvent action mapping](https://angular2-tree.readme.io/docs/action-mapping#keyboard-

[2017-10-12 11:43] xxxtonixxx commented on #101
Hi @otusweb, I'm sorry for my delay. I think it isn't possible ATM because the behavior of the component when it's validated. It should be re-written and looking for a better way. As first step, we need a proposal to think about it :+1: For example, when the input is validated and no valid, should it be closed?

It could achieved it, however it would be a very ugly trick :disappointed:

Sorry I ca

[2017-10-12 20:42] pedrollo commented on #31
@xxxtonixxx Tried to reproduce with **0.2.0-alpha.12** but couldn't. I assume it was an implementation error on our side or the bug was fixed. Checked on a fresh angular project: *text* and *number* type inputs.

[2017-10-13 00:32] #31 closed

[2017-10-19 15:14] flaska commented on #100
+1 This also doesn't work for me :(

[2017-10-19 15:15] flaska commented on #100
` <inline-editor type="textarea" [(ngModel)]="descriptor.concept[0].scopeNote" [disabled]="!editMode" (onSave)="elementModified.emit()" id="scope_note" cols="100" rows="6"></inline-editor>`

[2017-10-23 12:16] jritchhart opened #103 "Error loading http://localhost:3000/@qontu/ngx-inline-editor"
Trying to get ngx-inline-editor to work and I'm getting the error message above in the F12 screen.
My import in app.module looks like
                 import {InlineEditorModule} from '@qontu/ngx-inline-editor';
and
               @NgModule({
                          imports: [
                          InlineEditorModule,

running npm version 5.0.3 and nodejs version v8.1.4

@qontu/ngx-inline-ed

[2017-10-24 05:14] mandeeps1 opened #104 "saveEditable($event) method is getting called every time when clicking anywhere on the screen, after changing the underlying field"
saveEditable($event) method is getting called every time when clicking anywhere on the screen, after changing the underlying field.
Even clicking on cancel (cross) button calls the saveEditable($event) method.

[2017-10-27 12:15] solkararif opened #105 "Click on enter button it comes out of the the editing mode"
When I click enter in the inline-editor it comes out of the editing mode instead of going to a new line
How can input value in a new line

[2017-10-27 13:25] solkararif commented on #93
I am also facing the same problem.
Is it fixed do let me know

[2017-10-28 22:16] Modarresi opened #106 "correct (onError)"
Thanks for your useful Component.
please correct this on your README.md
(onError)="myHandleError"  ==> (onError)="myHandleError()"

[2017-10-30 10:43] xxxtonixxx commented on #103
Hi @jritchhart, what inline-editor version are you using? And can you provide us a demo?

[2017-10-30 10:49] xxxtonixxx commented on #100
Please @fleska or @mumairofficial, can you provide us a demo or reproducible repo? Because it is working for me. Thanks :+1:

[2017-10-30 10:53] xxxtonixxx commented on #93
I think it's possible @solkararif, but I don't have time ATM :disappointed:

If you want this feature ASAP, please send us a PR, that would be awesome! :+1:

[2017-10-30 10:59] xxxtonixxx commented on #104
Hi @mandeeps1, can you provide us a demo? I think https://github.com/qontu/ngx-inline-editor/issues/78 could be related

Thanks! :+1:

[2017-10-30 11:00] xxxtonixxx commented on #105
Hi @solkararif, I closed this issue as duplicate of https://github.com/qontu/ngx-inline-editor/issues/93

Follow that issue instead! :wink:

[2017-10-30 11:01] #105 closed

[2017-10-30 11:02] xxxtonixxx commented on #106
Thank you @Modarresi! :smile:

Could you send us a PR with that correction? :sweat_smile:

[2017-10-30 11:12] xxxtonixxx commented on #58
Hi @KeithGillette, sorry for my delay. Could you open a new issue with your request?

Thanks for your feedback and improvements! :+1:

[2017-10-30 13:35] mumairofficial commented on #100
@xxxtonixxx I was very busy in project hopefully following will help you to understand the problem.

Gif will help you to understand the problem:
![inline-editor-problem](https://user-images.githubusercontent.com/6498132/32173186-f0e9ad5e-bd9f-11e7-9504-699a85dea7ca.gif)

#### Reproduce steps:
Brand new angular-cli based project
- installed inline-edit, bootstrap, font-awesome
and
##### app.compon

[2017-10-30 14:50] flaska commented on #100
Very good demo! It was exactly the same problem for me. :+1:

[2017-10-30 20:54] KeithGillette opened #107 "Enhancement: `onKeyPress` event generated for all keypresses / keyboard action mapping"
**Current Behavior**
The `onKeyPress` event binding only fires for printable characters.

**Desired Behavior**
The `onKeyPress` binding should fire for _all_ keypresses.

**Alternative Implementation**
Better yet, the component should provide an additional configuration property similar to the [`angular-tree-component` KeyboardEvent action mapping](https://angular2-tree.readme.io/docs/action-mappi

[2017-10-31 20:55] rcanand opened #108 "Textarea does not show newline in link"
Hi, when I create an inline-editor of type textarea and enter lines in it, and save it - the link does not show the newlines.

For example, if I entered:
[code]
in the textArea and submit, it collapses them into: `foo bar baz` on the same line. Clicking the link to edit correctly shows the new lines in the textarea.
It would be nice if the link persists the new lines.

[2017-11-02 11:09] mandeeps1 commented on #104
Hi @xxxtonixxx ,
I will try to create a demo for you soon.

For your reference,

<inline-editor  saveOnBlur="true" type="textarea" [(ngModel)]="issueObj.description" (onSave)="saveEditable($event)" id="descr-id"
                         size="20" cols="100" rows="15" min="1" placeholder="description"></inline-editor>

saveEditable(value) {
    console.log('saveEditable...........');
    // call to

[2017-11-02 15:45] Modarresi commented on #106
sorry
I m new. what means PR

[2017-11-02 22:05] xxxtonixxx commented on #97
Hmm, you can set the empty message using `empty` property. Maybe I'm misunderstanding your problem :confused:

Could you provide us a demo, please?

And sorry for my delay, I forgot it :sweat_smile:

[2017-11-02 22:10] xxxtonixxx commented on #104
Thanks for the references :+1:

I think I undestand your problem. Hmmm, I will investigate it, however I have not time :sweat:

If you want help us, a PR would be awesome :tada:. Anyway, thanks for your interesting and report :smile:

[2017-11-02 22:22] xxxtonixxx commented on #100
Thank you very much for you effort @mumairofficial, I think it is enough to test it :+1:

[2017-11-02 22:23] xxxtonixxx commented on #107
Thanks :+1:

[2017-11-02 22:28] xxxtonixxx commented on #108
Thanks for your reporting :smile: I think it is easy to fix. I will work on this when I have some time :sweat:

If you want help us and fix it ASAP, please send us a PR :+1:

[2017-11-02 22:31] xxxtonixxx commented on #106
@Modarresi, a Pull Request is a contribution to the code base. A better definition could be [this](https://help.github.com/articles/about-pull-requests/) :+1:

[2017-11-02 22:35] #32 closed

[2017-11-03 17:10] rcanand commented on #108
Thanks - really appreciate that. Sorry, I do not have time to work on this right now.

[2017-11-05 10:34] #106 closed

[2017-11-09 11:13] mandeeps1 commented on #100
+1 not working for me either.... :(

[2017-11-09 12:09] mandeeps1 opened #111 "size attribute is not working in type text and textarea"
Hi @xxxtonixxx ,

Size attribute is  not working in type text and textarea.

Also tried [size]=14  not working.

For reference,

<inline-editor saveOnBlur="true" type="text" id="summaryid" name="summaryid [(ngModel)]="issueObj.summary"	(onSave)="saveEditable($event)" placeholder="summary" title="Click to edit" size="14">

Version: 0.1.1-alpha.20

[2017-11-10 21:37] xxxtonixxx commented on #111
Thanks for your report, @mandeeps1 :+1:

[2017-11-17 19:01] KeithGillette opened #112 "Invoking edit from *first* @ViewChildren(InlineEditorComponent).changes subscription event from component AfterViewInit fails"
I am using `ngx-inline-editor@0.2.0-alpha.12` in an Angular 4.4.6 project inside an `angular-tree-component` template. When I attempt to call the `.edit()` method on a given inline-editor ViewChild from a subscription handler to a ViewChildren(InlineEditorComponent).changes observable in the component, the inline-editor instance fails to enter editing mode in the template for the first call, but s

[2017-11-18 18:21] #112 closed

[2017-11-18 18:22] KeithGillette commented on #112
Please delete. I tracked down the source of the problem and found it was unrelated to `ngx-inline-editor`!

[2017-11-28 00:31] darrendlin commented on #104
Hi, if I'm understanding this issue correctly, this looks like it could be a huge problem if it's actually trying to call the server on every click (after the above processes).

This library looks cool and I want to use it, but if this is still an issue I'm a bit reluctant to break it in...

[2017-11-29 23:19] InigoWD opened #113 "Only one active editor at a time; Close all other active editors on click"
Hi, and thanks for this awesome little tool. I'm looking at the available controls but I don't see a way to do this: Is it possible to close all other active editors so that only one can be active at a time?

[2017-12-03 19:56] nyc-cr2 opened #114 "How to format as currency?"
Is it possible to format the output somehow?  Something like this? (it doesn't work but was wondering if I'm missing a property by chance)

`<inline-editor class="edit-data" type="text" [(ngModel)]="balance" onaftersave="update()">{{balance | currency:'USD':true:'2.0-0'}}</inline-editor>`

[2017-12-04 22:57] xxxtonixxx commented on #114
Hi @nyc-cr2, thanks for your reporting! :+1:

That feature is not implemented ATM. The value is shown as it's, if balance stores the number 10.1, 10.1 is shown.

I have not time to add new features, sorry... :cry:  If you want help us, please, send a PR

[2017-12-04 23:03] xxxtonixxx commented on #113
Hi @InigoWD, that feature is half-done, however it isn't fully implemented. I have no time to work on this...

Sorry, if you want help us, please, open a PR :trollface:

Thanks for your interest!! :+1:

[2017-12-04 23:06] xxxtonixxx commented on #104
yeah @darrendlin, it's a huge problem... I will try to fix it next days :+1:

[2018-01-08 13:17] jbalessandro opened #115 "Unexpected token in build - .Net Core"
I have the following error during dotnet publish:

-----------------
ERROR in ./$$_gendir/~/@qontu/ngx-inline-editor/ngx-inline-editor.ngfactory.ts
      Module parse failed: D:\NovaMesaCredito\$$_gendir\node_modules\@qontu\ngx-inline-editor\ngx-inline-editor.ngfactory.ts Unexpected token (13:40)
      You may need an appropriate loader to handle this file type.
      | import * as i2 from '@angul

[2018-01-09 18:55] jbalessandro commented on #115
I found the solution:

Just remove  "include: /ClientApp/"

before:
                // { test: /\.ts$/, include: /ClientApp/, use: isDevBuild ? ['awesome-typescript-loader?silent=true', 'angular2-template-loader'] : '@ngtools/webpack' },

after:
                { test: /\.ts$/, use: isDevBuild ? ['awesome-typescript-loader?silent=true', 'angular2-template-loader'] : '@ngtools/webpack' },

[2018-01-10 14:38] #115 closed

[2018-01-10 14:38] jbalessandro commented on #115
Solved

[2018-01-11 21:05] dvaughn88 opened #116 "Support of Angular 5"
Any plans to support Angular 5? Thanks!

-=-=

npm WARN @qontu/ngx-inline-editor@0.2.0-alpha.12 requires a peer of @angular/common@^4.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN @qontu/ngx-inline-editor@0.2.0-alpha.12 requires a peer of @angular/core@^4.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN @qontu/ngx-inline-editor@0.2

[2018-01-12 09:47] venkydeshmukh opened #117 "Enable editing on double click"
I am trying to implement ngx-inline-editor in tab. I have HTML form with multiple tabs.
When user double clicks on the tab, tab name should become editable. ngx-inline-editor (which is my natural choice for inline editing) displays textbox for editing, as soon as user clicks on tab.

Is it possible to implement double click functionality for enabling editing also?

[2018-01-19 02:56] KeithGillette commented on #117
Set `[editOnClick]="false"` and then add an Angular `(dblclick)` handler to invoke the inline editor programmatically via its `edit({editing: true, focus: true, select: true})` method. You can get a reference to it in the component controller using `@ViewChild` or `@ViewChildren`.

[2018-01-19 03:08] KeithGillette opened #118 "Enhancement: `[select]="true"`"
When invoking inline editor via the API, one can select the editor content by passing `.edit({ select: true })`. It would be great to be able to be able to specify this behavior when the editor is invoked from a click when `[editOnClick]="true"` either with an attribute binding like `[select]="true"` or 							 `[config]="{ select: true }"`.

[2018-01-19 12:55] venkydeshmukh commented on #117
Thanks Keith,
It works as expected.

[2018-01-19 12:55] #117 closed

[2018-01-20 14:28] KeithGillette commented on #69
I think there's also a `form-group` child element between the `c-inline-editor` and `inline-editor-text` elements that may need to be set to 100%, as well.

Can you provide a working Plunker of a dynamically-sized inline-editor, @Caballerog?

I'm struggling to get the editor to size dynamically inline with other items. We want to display an inline editor inside a parent element that sizes dynamica

[2018-01-20 16:57] Caballerog commented on #69
Hi @KeithGillette,

The main problem in your Plunker example is the class ".c-inline-editor.inlineEditForm input" from "bootstrap.css" line 32, in which . the width is "auto". The style "input" don't overwrite this class due to is less specificity that the rule which exists in "bootstrap.css".

I've remove my bootstrap.css example from the index.html in your Plunker and I get the 100% width like y

[2018-01-20 17:20] KeithGillette commented on #69
Thanks for the fast reply, @Caballerog!

I see the issue you are describing, but still can't get it working even omitting the external styles. I updated the Plunker to not load the external stylesheets but when the inline-editor is invoked, the input is still a fixed width, even though inspecting the CSS shows it inheriting `width: 100%` from the `inline-editor`.

The CSS selectors I'm seeing when

[2018-01-23 20:28] swethaAllam opened #119 "The Tick and X buttons looks like blank hypons"
![screen shot 2018-01-23 at 12 28 17 pm](https://user-images.githubusercontent.com/27245885/35299052-eca294c8-0038-11e8-968d-670eda990aeb.png)

What is that I am missing? I am using this with angular2-collapsible library

[2018-01-23 20:34] Caballerog commented on #119
Hi @swethaAllam,

I think that would be that fontawesome.css is missing.

[2018-01-23 21:18] swethaAllam commented on #119
@Caballerog Thank you for the early response. Can you please shed some light on how I can get that css?

[2018-01-23 21:45] swethaAllam commented on #119
I got it to work. thank you. I followed https://stackoverflow.com/questions/38796541/how-to-add-font-awesome-to-angular-2-cli-project

[2018-01-23 21:45] #119 closed

[2018-01-23 21:48] swethaAllam opened #120 "Default value on select for tabular format"
I have a table with data populated using ngFor.
In the select, how do I get the default value to be the value from the object in ngFor. I have ngModel added, but I still see the values as empty on the screen.

<inline-editor type="select" [(ngModel)]="credentialInfo.status" value="valor" (onSave)="saveCredentialStatus($event, credentialInfo)"
[options]="editableSelectOptions" name="credentialStatu

[2018-01-25 00:01] swethaAllam commented on #71
any answer to this?

[2018-01-25 18:59] swethaAllam opened #121 "Options on Select - how to filter?"
I am having a requirement where the [options] in the select should differ based on a condition. Is there a way to do this? Can I use pipes? The problem I am facing is: I have a tabular format, say with ten rows, how to add pipes or something else to work on each row separately before rendering?

[2018-01-25 19:16] #121 closed

[2018-01-25 19:23] swethaAllam commented on #120
@Caballerog any idea about this please?

[2018-02-05 12:01] San13 commented on #117
Hi Sir,
Can u provide some working example for beginner level like me ?

[2018-02-07 22:01] swethaAllam commented on #104
Is this fixed yet?

[2018-02-09 20:57] ppattard opened #122 "Support of FontAwesome 5"
Hello,

Version 5 of FontAwesome broke totally the compatibility with previous versions :-(. The class="fa fa-xxx" no longer works and instead they propose several types of icons by using fas, far, etc. Besides, some icons have apparently been renamed (at least in the SVG version) such as for instance the cancel icon that is used in this module (is now called fa-times).

I tried to fork the repo t

[2018-02-13 17:24] xxxtonixxx commented on #115
Thanks for your feedback! :+1:

[2018-02-13 17:26] xxxtonixxx commented on #118
Thanks four your feedback :+1:

[2018-02-13 17:28] xxxtonixxx commented on #71
It isn't resolved yet :cry:

[2018-02-13 17:32] xxxtonixxx commented on #104
it's more difficult I thought... I tried to fix it, but I had problems to fix it. Maybe, we will need to rewrite some core parts of component...

[2018-02-13 17:34] xxxtonixxx commented on #122
Thanks four your help! what problem do you have to build it? :+1:

[2018-02-13 17:41] xxxtonixxx commented on #116
Yeah, it's in our plans! Thanks :+1:

[2018-02-15 06:31] pradeekumar opened #124 "Typeahead support"
How can we implement typeahead support as currently, it's not there?
Any guidance would be helpfull.

[2018-02-16 22:57] alexandre-melard commented on #116
+1

[2018-02-25 03:00] danrye opened #125 "Build Issues"
Trying to pull down master and build.

`npm install`
`npm run build`

results in an error during rollup
`Error: ".../ngx-inline-editor/build/inline-editor.module.js" does not exist in the hypothetical file system!`

I was hoping to take a stab at upgrading this, but seem to not even be able to build it, if you can help get me past this hurdle I'd love to take a stab at upgrading this,

[2018-02-28 08:27] sric88 opened #126 "The number leaded by 0 is also considered for validation"
Hi,

Thanks for the great plugin.

I'm facing few issues like

1. My text box should accept only number with maximum of 7 digits. When the user enter Eg."0058694" it's throwing error. The pattern i have used is ^(0|[1-9][0-9]*)$ and I have set the min and max as "1" and "7". I want the number to be truncated in a way the leading 0's to be removed and the min and max should calculate based on trunc

[2018-02-28 15:45] sric88 commented on #117
I tried below code

`import { InlineEditorComponent } from '@qontu/ngx-inline-editor';`

`@ViewChild('InlineEditorComponent') private _child: InlineEditorComponent;`

[code]

But getting error "Cannot read property 'edit' of undefined"

Can you please help me where I'm doing mistake

[2018-02-28 16:48] KeithGillette commented on #117
@sric88: Unless you have given your `<inline-editor>` element id of `InlineEditorComponent` in the template your code will fail, as the `@ViewChild()` decorator expects a string argument to match a template element id. If the argument is a component class token, it will pick up the first instance of that component in the template. So just take the single-quotes off:
`@ViewChild(InlineEditorCompone

[2018-03-01 07:17] sric88 commented on #117
Thanks Keith. It works fine 👍

[2018-03-01 14:48] KeithGillette opened #127 "`ng build --prod` AOT compilation errors with `fullTemplateTypeCheck: true`"
Angular 5.2 introduces a new AoT compiler `fullTemplateTypeCheck` option to perform a more thorough type check on templates. It is expected that this option will default to true in a future version: https://blog.angular.io/angular-5-2-now-available-312d1099bd81

Running `ng build --prod` with `tsconfig.app.json` updated with the template checks:
[code]

produces the following errors:

[code]
* Inl

[2018-03-08 00:15] swethaAllam opened #128 "Select - add an item to options array but do not display it in dropdown"
Is this possible? Say, I have 5 options in the selectOptions array, but I only want to see 3 in the dropdown to select.

[2018-03-20 11:35] coffeymatt opened #129 "Event emitters called from onSave() don't seem to fire"
I have a bizarre issue with this control. My component has an event emitter output subscribed to by the parent which definitely works because it emits a message on init.

However, when I emit somthing from onSave, my parent method is not getting called:

<inline-editor type="text" [(ngModel)]="item.title" (onSave)="testmethod()" [name]="'editable_' + item.id" size="30"></inline-editor>

    @Outpu

[2018-03-20 14:05] #129 closed, assigned to nobody

[2018-03-20 14:06] coffeymatt commented on #129
Figured it out, issue with my code

[2018-03-24 17:29] jovanica7 opened #130 "Question about (onError) property"
Hi there,

Can you give an example of using this property? Is it possible for example to write some error message if consumer doesn't enter anything in the input? (e.g. min="1")

[2018-03-27 16:12] jerodfritz opened #131 "Performance slows with larger data sets"
I've noticed that with multiple instances each with a high number of options say 100+ this library will bring load times to a crawl.    For example a page containing 500 rows each with an inline select with 500 options will nearly crash Chrome.  Bringing this down to 50 rows will cause the render time to be 20+ seconds.  Is there a way we can possibly add some optimizations to this so that it will

[2018-03-28 12:19] KeithGillette commented on #127
@xxxtonixxx — I made a brief attempt to diagnose & resolve this issue to offer a PR, but can't get the `build` script to run. The project doesn't seem to include `@angular/cli` in `devDependencies`. Any guidance?

[2018-03-29 18:45] jovanica7 opened #132 "Property saveOnBlur and enabled buttons cannot work together"
Hi,

When I enable saveOnBlur, than on "cancel" button input value is saved also. Is it possible to somehow avoid that particullar button, since I really like how the buttons look.

Thanks in advance

[2018-03-30 09:45] jovanica7 commented on #117
Hi, is it possible to keep focus on input, when an error is occurred? So, when I call (onError)="myHandleError()" to put a similar code as above in it?

Example:
myHandleError(){
//some code
this._child.edit({ editing: true, focus: true, select: true });
}

I tried this, but nothing happens, I am not sure what I need to pass as a parameter in html/ts component. When I call console.log(this._child)

[2018-04-07 08:53] fdonzello opened #133 "Impossible to contribute"
Hi,

I tried to fork and build the package but It fails. I keep having errors on rollup.

Is this package maintained? Or is there any way to contribute?

Thanks

[2018-05-09 09:38] Rassamdul commented on #100
@mumairofficial How would it benefit you from opening a input field that is disabled? I want it to be enabled when i open it by button press.

[2018-05-09 10:26] mumairofficial commented on #100
@Rassamdul thank you for comment... Actually I forgot the scenario; basically I was trying to enable/disable pragmatically based upon some criteria

[2018-05-09 13:01] YonatanSapo opened #134 "Add Id to input element"
hi !
there is a way to add id to the nested input element ?
we are using selenium and we want to click on the input element using id

[2018-05-12 16:59] Hardik-Vibe commented on #108
@xxxtonixxx I have one solution for this but can you suggest your solution so that I can implement right one.

Thanks.

[2018-05-15 14:36] yehia2amer opened #136 "Add Support for Angular 6 & RxJS 6"
Now when trying to update to Angular 6 & RxJS 6, I got this error:
`node_modules/@qontu/ngx-inline-editor/inputs/input-base.d.ts(3,10): error TS2305: `
`Module '"node_modules/rxjs/Subscription"' has no exported member 'Subscription'.`

Any Plans to Update ?

Thanks!

[2018-05-18 10:43] ghost opened #137 "Add some styling"
How I can add css style for input... like `form-control-sm`... basic bootstrap styling and some styling for buttons, like `btn-sm`. And i want to change glyphicon! It's real?

[2018-07-04 07:41] rabin-naga commented on #136
I am getting following error when using Inline Editor in Angular6.

 ERROR Error: StaticInjectorError(AppModule)[NgClass -> ElementRef]:
  StaticInjectorError(Platform: core)[NgClass -> ElementRef]:
    NullInjectorError: No provider for ElementRef!

Any help? Thanks

[2018-07-06 10:18] Mangdar opened #138 "Textarea Disappear"
When i press enter button textarea will disappear,anyone got issue like me?

[2018-07-09 19:03] OpticNectar opened #139 "Buttons should have type of button"
Buttons should have type of `button` to prevent auto submitting of the form when using reactive forms.

[2018-07-11 09:28] divya130 commented on #100
This also doesn't work for me , anyone got the solution??

[2018-07-31 12:50] arya-himanshu opened #141 "How to prevent special character in input box"
How to prevent special character in input box

[2018-08-02 19:00] jovanica7 opened #142 "Textarea - resize issue"
Is there a way to prevent resizing of the textarea? Standard tricks don't work (like resize: none; or max-width: 100%)

[2018-08-13 19:37] KeithGillette commented on #136
We are using `@qontu/ngx-inline-editor@0.2.0-alpha.12` in an Angular 6.1.2 project with no issues except when we attempt to build with AoT per #127.

[2018-08-28 15:35] dmoojunk commented on #130
For anyone searching for this, I came up with this - rather crude but worked for me -

[code]

[2018-09-01 05:37] daraujofs opened #144 "Input mask when editing"
Can I set a mask to input when I'm editing the value?

[2018-09-08 15:23] KeithGillette commented on #125
In an attempt to create a PR to resolve #127, I tried to build the project but am unable to do so, either. Any pointers, @Caballerog or @xxxtonixxx?

[2018-09-09 13:07] tonivj5 commented on #125
Hi @KeithGillette, the current build process is going to change. We had have a lot of work and not time :disappointed:. I will release a new version with changes in design to resolve some critical problems and update to latest angular. #127 is resolved in new version, thanks to take your time to help us.

I'm sorry to not be too active here and I will inform when the new release is out

[2018-09-18 12:31] andys8 commented on #136
Installing `"rxjs-compat": "^6.0.0"` resolved (at least removes) the error, but it's not working for me afterwards. Getting `Can't bind to 'ngModel' since it isn't a known property of 'inline-editor'.` but could also be me using it in a wrong way. But I'm trying the minimal example.

[2018-09-20 04:41] huynhlbq opened #145 "Icon not show when using font-awesome 4"
Dear,

I saw the missing fa-remove icon in font-awesome version 4, this has been rename to fa-times.
Please update this to support new fa version.

[2018-09-24 11:47] archish9 opened #146 "how can i set date format?"
I have multiple inline editor on page. but i have issue with date type.
when i set date format as 'y-m-d' then date value is pre-selected   in inline editor, but 'm-d-y ' date format is then value is not selected, and it show "dd-mm-yyyy".

now i want my date format as 'm-d-y' so how can i set date format?
can you help me?

i am attaching this SS pleas have a look.

https://www.screencast.com/t/um

[2018-09-25 04:54] archish9 commented on #141
you can use `pattern` and `(onError)` for that.
**P.S**: this will not prevent special character. But will execute `myHandleError($event)` and you can write you required code there.

`<inline-editor
        type="text"
        [(ngModel)]="editableText"
        (onSave)="saveEditable($event)"
        name="editableText1"
        size="8"
        disabled="true"
        min="1"
        max="8"

[2018-10-05 12:17] archish9 commented on #146
@xxxtonixxx can you help?

[2018-10-08 14:01] tonivj5 commented on #146
Hi @archish1989, that feature isn't implemented.

And we're working in release the 1.0.0. We add this feature to release with it :+1:

[2018-10-11 10:56] archish9 commented on #146
FYI i was in hurry so I've solve my issue like this.

template file:

`
<inline-editor (onCancel)="editCancle()" (onEdit)="savePrevValue($event,'paymentrecived')" empty="Enter Payment Received Date" type="date" class="clsProject" [(ngModel)]="paymentrecived" (onSave)="saveEditable($event,'paymentrecived','date')" name="paymentrecived" ></inline-editor>`

ts file
[code]

**setTimeout(function(){

[2018-10-13 20:03] tonivj5 commented on #146
Thanks for share your workaround while this feature is missing :heart:

[2018-10-22 20:53] fott1 commented on #145
A silly but useful for my case workaround was to put ```$('.fa-remove').removeClass('fa-remove').addClass('fa-times');``` on the (click) event of the dom element `inline-editor`

[code]

[2018-11-15 00:04] raduiacobescu opened #148 "I could not change disabled input color"
I want to make the link gray when the [disabled] = true
I've tried: `.c-inline-editor.editable-disabled,
.c-inline-editor.editable-empty:hover,
.c-inline-editor.editable-empty:focus,
.c-inline-editor.a.editable:disabled,
.c-inline-editor.a.editable-disabled,
.c-inline-editor.black,
.c-inline-editor.a.black {
  font-style: italic;
  color: green;
  text-decoration: none;
}` but with no luck.

My co

[2018-12-12 16:26] KeithGillette commented on #125
Hi, @xxxtonixxx — Any ETA on a new release to update the build process, resolve #127, (and perhaps other compatibility updates for Angular 6 (now 7!) per #136)? I'm happy to assist with a PR for any of these updates, but since the current build process appears broken, I am unable to help.

[2019-01-10 14:40] samktest commented on #139
I am also facing this issue anybody can help :(

[2019-01-18 12:27] rovico commented on #127
@KeithGillette how did you solve this proplem? Seems this project is dead....

[2019-01-18 13:29] KeithGillette commented on #127
I have no solution to this problem, as I have been waiting for the [new build process](https://github.com/qontu/ngx-inline-editor/issues/125#issuecomment-419714874) promised by @xxxtonixxx before I return to attempting to implement a fix. Unfortunately, I agree that the project does seem moribund, @rovico, as I have not heard from the maintainers since September 2018.

[2019-01-28 11:09] 360disrupt commented on #122
I also had a problem building it:

[code]
I forked the package and tried to integrate fa5 in an angular way but I couldn't test it because I wasn't able to build it.

I made a pull request without building it:
https://github.com/qontu/ngx-inline-editor/pull/149

[2019-02-28 19:46] jerodfritz commented on #114
Is there a workaround of any sort for this or any way to specify a pipe or post format function before rendering the value.   My use case is simpler in we just need to pipe a | number so commas get added.

[2019-02-28 20:11] jerodfritz commented on #114
I've got a workaround to use a piped output but there are issues.  It will error prefilling the current value to the inline editor but I can live with that

Before:
```<inline-editor type="number" ([ngModel])="item.hours" name="hours"></inline-editor>```

Workaround:
```<inline-editor type="number" [ngModel]="item.hours | number" (ngModelChange)="item.hours=$event" name="hours"></inline-editor>```

[2019-03-24 18:39] Oggie23 opened #152 "Select input value is always prefixed with "<index>: ""
When using the { value : <value>, text : <text> } array for [options] in the select input, the value you put is changed.

Example:

Using
[code]
will yield the select control as if using
[code]

[2019-04-09 15:30] KeithGillette commented on #59
Hi @xxxtonixxx & @Caballerog — I've seen a few new commits in the past couple of months. Would either of you be willing to provide a status update on the project? I know you've both been busy, so not expecting v1.0.0 anytime soon, but curious to know if there's likelihood of fixes for the build (#125) & AOT (#127) anytime soon. Thanks for this library!

[2019-05-14 07:49] ghost opened #153 "How to set inline-editor disabled = true from component"
I have server api call at the time of rendering HTML so I want to set disable editing according to api result from the component . So my question is how to enable and disable editing option from angular component
please sugest

[2019-10-13 01:11] EmanuelleViana opened #154 "Duplicate buttons ids"
When I try to use several inline-editor components I see warning errors on console like:

`Found 4 elements with non-unique id #inline-editor-button-save: (More info: https://goo.gl/9p2vKq) <button class=​"btn btn-xs btn-primary c-inline-editor" id=​"inline-editor-button-save">​…​</button>​ <button class=​"btn btn-xs btn-primary c-inline-editor" id=​"inline-editor-button-save">​…​</button>​ <butto

[2019-10-16 03:03] #154 closed, assigned to nobody

[2019-12-07 08:36] kosnkow opened #155 "this won't even compile"
ERROR in node_modules/@qontu/ngx-inline-editor/ngx-inline-editor.d.ts.InlineEditorComponent.html(1,579): Type 'InlineEditorState' is not assignable to type 'InlineEditorStateOptions'.
  Property 'value' is private in type 'InlineEditorState' but not in type 'InlineEditorStateOptions'.
node_modules/@qontu/ngx-inline-editor/ngx-inline-editor.d.ts.InlineEditorComponent.html(1,769): Type 'InlineEditor

[2019-12-07 09:12] kosnkow opened #156 "THIS COMPONENT IS DEAD FOR ANGULAR 8, DON'T USE IT"

[2020-06-23 17:49] ruisilva450 commented on #156
What can be a good replacement for this lib?

[2020-08-17 15:20] AhmedBenyahia opened #157 "Add support for angular 9"
Starting from  angular 9, Renderer has been renamed to Renderer2.
After upgrading to angular 9 I am getting this error:

ERROR in node_modules/@qontu/ngx-inline-editor/inputs/input-base.d.ts:2:10 - error TS2724: Module '"../../../@angular/core/core"' has no exported member 'Renderer'. Did you mean 'Renderer2'?

[2020-08-17 15:35] ZiedMayel commented on #157
Use Renderer2 instead of Renderer
________________________________
Von: Ahmed Benyahia <notifications@github.com>
Gesendet: Montag, 17. August 2020 15:20
An: qontu/ngx-inline-editor <ngx-inline-editor@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Betreff: [qontu/ngx-inline-editor] Add support for angular 9 (#157)

Starting from angular 9, Renderer has been renamed to Renderer2

[2020-08-17 15:43] AhmedBenyahia commented on #157
It work as a workaround but it need a proper fix.
It's not a good habit to modify the files in node_module manually

[2020-08-17 15:53] ZiedMayel commented on #157
I agree, I mean you have to fork from the repository and fix that. use npm link to use it locally or add it to your project as shared library. Unfortunately the project is not maintained
________________________________
Von: Ahmed Benyahia <notifications@github.com>
Gesendet: Montag, 17. August 2020 15:44
An: qontu/ngx-inline-editor <ngx-inline-editor@noreply.github.com>
Cc: ZiedMayel <z.mayel@hot

[2021-02-07 20:35] dogetomoon2021 opened #160 "Not working with latest ngular versions"
Renderer class is now replaced with the Renderer2 class making this incompatible with the latest angular version.

[2021-02-07 20:55] dogetomoon2021 commented on #157
@ZiedMayel Can you please elaborate on the steps to follow?

[2021-02-08 08:26] ZiedMayel commented on #157
@dogetomoon2021

What do you need exactly? Can you please tell me what do you mean with "elaborate on the steps"?

[2021-02-09 04:05] dogetomoon2021 commented on #157
@ZiedMayel I want to use this lib. with angular 10 or are you aware of any alternative to this lib?

[2021-04-07 10:04] AhmedBenyahia commented on #157
I suggest u create your own lib. I have created a simple component to replace  the old one but it's not in a package, you will need to include it manually in the project: https://github.com/SlaySayto/s-inline-editor